<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSRF Token -->
    <meta name="csrf-token" content="" />

    <title>Profil</title>
    <link rel="icon" type="image/x-icon" href="/icon.ico" />
    <link href="/css/style.css" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
      crossorigin="anonymous"
    ></script>
    <script src="js/dynamic-form.js"></script>
  </head>

  <body class="bg-gray-100 h-screen antialiased leading-none font-sans">
    <div id="app"><%- include('../Templates/header-after-login') -%></div>
    <section
      class="
        mr-20
        ml-20
        mt-10
        flex flex-col
        break-words
        bg-white
        sm:border-1 sm:rounded-md sm:shadow-sm sm:shadow-lg
      "
    >
    <%- include('../Templates/header-cart') -%>

      <div class="w-full p-6">
        
        <div class="flex flex-col mb-4">
          <label class="mb-2 text-gray-900 font-semibold" for="first_name"
            >Nama</label
          >
          <p><%= user.name %></p>
        </div>
        <div class="flex flex-col mb-4">
          <label class="mb-2 text-gray-900 font-semibold" for="first_name"
            >Username</label
          >
          <p><%= user.username %></p>
        </div>
        <!-- <div class="flex flex-col mb-4">
          <label class="mb-2 text-gray-900 font-semibold" for="first_name"
            >Email</label
          >
          <p>Email Pengguna</p>
        </div> -->
        <form action="/user/update" method="get">
            <button
            class="
              w-40
              h-10
              mb-6
              bg-green-500
              text-white
              font-bold
              py-1
              px-2
              border
              rounded
              hover:bg-blue-700
            "
            type="submit"
          >
            Ubah Profil
          </button>
        </form>
        <% if (messages.info) { %>
          <div class="alert alert-success" role="alert">
            <p
              class="
                bg-green-500
                p-2
                text-white
                font-bold
                md:border md:border-grey-500
                text-left
              "
            >
              <%= messages.info %>
            </p>
          </div>
          <% } %>
      </div>
    </section>
  </body>
</html>
